/.vs
/Core.Window/x64
/Module/CSharpCompiler/obj
/Module/CSharpCodeTools/obj
/Module/CppWeavingTools/obj
/Module/Engine.Console/obj
/Module/Engine.Window/obj
/Module/GameProject/obj
/Module/MainEditor/obj
/Module/ProjectCooker/obj
/binaries/net5.0
/binaries/Core.Window.lib
/binaries/Core.Window.pdb
/binaries/imgui.ini
/binaries/Core.Window.dll
/binaries/Core.Window.exp
/cache
/codegen/**/*.h
/codegen/**/*.cpp
/codegen/**/*.cs
/binaries/Tools/net5.0
/Core.Window/Core.Window.vcxproj.user
/Core.iOS/ARM64
intermediate
Module/GameBuilder/obj
Module/Engine.Android/obj
Module/CompilingGenerator/obj
Module/CompilingGenerator/bin
packages
binaries/net7.0
binaries/net8.0
binaries/Tools/net7.0
binaries/Tools/net8.0
binaries/Plugins
*.user
*.pdb
