<?xml version="1.0" encoding="utf-8" ?>
<ShareProjectConfig>
  <References>
    <PreDefines>
    </PreDefines>
    <Proj Name="../../Math/Math.projitems"/>
    <Proj Name="../../Graphics/Graphics.shproj"/>
    <Proj Name="../../GamePlay/GamePlay.projitems"/>
  </References>
  <CppRefrence>
    <Proj Name="Bricks/PhysicsCore/PhysicsCore.vcxitems"/>
    <PreDefines>
      <Windows>
        <Debug>
        </Debug>
        <Release>
        </Release>
      </Windows>
      <Android>
        <Debug>
        </Debug>
      </Android>
      <Ios>
        <Debug>
        </Debug>
      </Ios>
    </PreDefines>
    <Includes>
      <PhysX Path="..\..\Native\3rd\PhysX-3.4\PhysX_3.4\Include"/>
      <PhysX Path="..\..\Native\3rd\PhysX-3.4\PxShared\include"/>
    </Includes>
    <Libs>
      <Windows>
        <Debug>
          <LibDir>
            <PhysX Path="..\..\Native\3rd\PhysX-3.4\PxShared\lib\vc15win64"/>
            <PhysX Path="..\..\Native\3rd\PhysX-3.4\PhysX_3.4\Lib\vc15win64"/>
          </LibDir>
          <PhysX3DEBUG_x64.lib/>
          <PhysX3CommonDEBUG_x64.lib/>
          <PhysX3CookingDEBUG_x64.lib/>
          <PhysX3CharacterKinematicDEBUG_x64.lib/>
          <PhysX3VehicleDEBUG.lib/>
          <PxFoundationDEBUG_x64.lib/>
          <PxPvdSDKDEBUG_x64.lib/>
          <PsFastXmlDEBUG_x64.lib/>
          <PxTaskDEBUG_x64.lib/>
          <PhysX3ExtensionsDEBUG.lib/>
        </Debug>
        <Release>
          <LibDir>
            <PhysX Path="..\..\Native\3rd\PhysX-3.4\PxShared\lib\vc15win64"/>
            <PhysX Path="..\..\Native\3rd\PhysX-3.4\PhysX_3.4\Lib\vc15win64"/>
          </LibDir>
          <PhysX3_x64.lib/>
          <PhysX3Common_x64.lib/>
          <PhysX3Cooking_x64.lib/>
          <PhysX3Extensions.lib/>
          <PhysX3CharacterKinematic_x64.lib/>
          <PhysX3Vehicle.lib/>
          <PxTask_x64.lib/>
          <PsFastXml_x64.lib/>
          <PxFoundation_x64.lib/>
          <PxPvdSDK_x64.lib/>
        </Release>
      </Windows>
      <Android>
        <Debug>
          <LibDir>
            <PhysX Path="..\..\Native\3rd\PhysX-3.4\PhysX_3.4\Lib\android16"/>
            <PhysX Path="..\..\Native\3rd\PhysX-3.4\PxShared\Lib\android16"/>
          </LibDir>
        </Debug>
      </Android>
      <Ios>
      </Ios>
    </Libs>
  </CppRefrence>
</ShareProjectConfig>