<?xml version="1.0" encoding="utf-8" ?>
<ShareProjectConfig>
  <Platform>
    <Windows/>
    <WindowsNoEditor/>
    <Android/>
    <IOS/>
  </Platform>
  <CppRefrence>
    <PreDefines/>
    <IncludeDirs>
      <Include Dir="openxlsx/implementation/headers"/>
      <Include Dir="openxlsx/interfaces/c++/headers"/>
      <Include Dir="pugixml"/>
      <Include Dir="zippy"/>
    </IncludeDirs>
    <Proj Name="Core/Core.vcxitems"/>
  </CppRefrence>
</ShareProjectConfig>